# Byte-compiled / optimized / DLL files
pycache/
__pycache__/

# Python dependencies
.venv
.python-version
_packages

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# Environments variables
#.env

# VS Code
.vscode/